*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family: sans-serif;
    
}


.navbar{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 70px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#img__logo{
    border-radius: 45px;
    width: 70px;
    justify-content: center;
    text-align: center;
}
#logo_n{
    margin-right: 38%;
    background-color: white;

}
#navbar__logo{
    background-color: white;
    background-image: linear-gradient(to top, red orange 100%);
    background-size: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
 .navbar__item{
    height: 70px;
 }
 .navbar__links{
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    height: 100%;
 }
 .navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    width: 100%;
 }
 .button{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px, 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: blue;
    color: purple
 }
 .button:hover{
    background: red;
    transition: all 0.4s ease;
 }
 .navbar__links:hover{
    color: red;
    transition: all 0.4s ease;
 }
 @media screen and (max-width: 960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 70px;
        z-index: 1;
        width: 100%;
        max-width: 1200px;
        padding: 0;
    }
    
    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0; 
        transition: all 0.5s ease;
        height: 60vh;
        z-index: -1;
    }

    .navbar__menu.active{
        background: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }
    #navbar__logo{
        padding: left 25px; 
    }
    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.4s ease-in-out;
        background: blue;

    }
    .navbar__item{
        width: 100%;
    }
    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar__btn{
        padding-bottom: 2rem;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;
        margin: 0;
    }
     .navbar__toggle .bar{
        display: block;
        cursor: pointer;


     }
     
#menu.is-active .bar:nth-child(2){ 
opacity: 0;}
#menu.is-active .bar:nth-child(1){
transform: translateY(8px) rotate(45deg);
 }
 #menu.is-active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
     }
 
}

/* Hero section */
.main__container{

    position: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}
.main__content h1{
    font-size: 1rem;
    background-color: none;
    background-image: linear-gradient(to top, white 0%,white 100%);
margin-right: 70px;
}
.main__content h2{
    font-size: 1rem;
    background-color: none;
    background-image: linear-gradient(to top, white 0%, white 100%);
    margin-right: 300px;
}
.main__img__container{
    margin-left: 30px;
}

  

.main__btn{
    font-size: 1rem;
    background-image: linear-gradient((to top, blue 0%, blue 100%));
    padding: 2px 3px;
    border-radius: 4px;
    color: blueviolet;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.4s;
}
.main__btn a{
    position: relative;
    z-index: 2;
    color: white;
    background-color: blue

}
.main__btn:after {
    position: relative;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    background: black;
    transition: all 0.4s;
    border-radius: 4px;
}
.main__btn:hover{
    color: blue
}
.main__btn:hover::after{
    width: 100%;
}
.box2{
    
    background-color: none;
    display: flex;
   text-align: center;
   margin-right: 1940px;
   margin-top: 4%;
}
#boxx{
    text-align: center;
    justify-content: center;
}
.box2 h1{
    margin-top: -40%;
    text-align: center;
    justify-content: center;
}
#sahiwal{
    float: left;
    text-align: justify;
    margin-right: 30%;
    
}
#sahiwal img{
    width: 300px;
}
#jersey{
    margin-right: 160px;
    text-align: justify;
    text-align: center;
    justify-content: center;
}
#jersey img{
    width: 300px;
margin-left: 220px;
margin-top: 2%;
}

    

 
#ayrshire{
    justify-content: center;

}    
#ayrshire img{
    width: 300px;
    text-align: center;
    justify-content: center;
}
.box3 h1{
text-align: justify
}
.box3 img{
   
    padding-left: 50px;
    padding-right: 32px;
}
#head{
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}
#dorper{
    float: left;
margin-top: 5%;
}
#red{
    float: right;
    margin-top: 3%;
    margin-left: 50px;
}
#dorper img{
    width: 300px;
    margin-top: 3%;
}
#red img{
    width: 400px;
    margin-top: 3%;
}
#red p{
    text-align: justify;
    margin-top: 2%;

}
#red h2{
margin-top: 5%;
}
footer{
    margin-top: 20px;
    margin-bottom: 0%;
}
.main__box{
    margin-top: auto;
}
.breeds{
    text-align: center;
    justify-content: center;
}
#box1 h1{
    text-align: center;
    text-align: justify;
}
#box{
    text-align: center;
    justify-content: center;
    margin-top: -25%;

}
#somali{
    margin-top: 70px;
    justify-content: center;
    text-align: center;
}
#somali img{
    width: 380px;
    margin-top: 3%;

}
footer{
    
    background: blue;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.main__box{
    display: flex;
}
.main__box .box{
flex-basis: 50%;
padding: 10px 20px;
}
.box h2{
font-size: 1.125rem;
font-weight: 600;
text-transform: uppercase;
}
.box .content{
margin: 20px 0 0 0;
}
.left .content{
    text-align: justify;
}
.left .content .social a{
    padding: 0 2px;
    margin-top: 5px;
}
.left .content .social a span{
height: 20px;
width: 40px;
background: white;
border-radius: 5px;
justify-content: center;
text-align: center;
margin-top: 20px;
font-size: 18px;
transform: 0.3s;
}
.left .content .social a span:hover{
    background: blue
}
.login__details{
    
        margin:0px; background-color:#3427a4; color:#f7f7f7; font-family:Arial, Helvetica, sans-serif;
      }
      #main
      {
        width:600px; height:260px; margin-left:auto; margin-right:auto; border-radius:5px; padding-left:10px; margin-top:100px;
        border-top:3px double #f1f1f1; border-bottom:3px double #f1f1f1; padding-top:20px;
      }
      #main table
      {
        font-family:"Comic Sans MS", cursive;
      } 
     /* css code for textbox */
     #main .tb
     {
       height:28px; width:230px; border:1px solid #274fa4; color:#27a465; font-weight:bold; border-left:5px solid #f7f7f7; opacity:0.9;
     }
   
      /* css code for button*/
      #main .btn
      {
       width:80px; height:32px; outline:none;  font-weight:bold; border:0px solid #27a465; text-shadow: 0px 0.5px 0.5px #fff;	
       border-radius: 2px; font-weight: 600; color: #293eb3; letter-spacing: 1px; font-size:14px; -webkit-transition: 1s; -moz-transition: 1s; transition: 1s;
      }
     
      #main .btn:hover
      {
       background-color:#27a465; outline:none;  border-radius: 2px; color:#f1f1f1; border:1px solid #f1f1f1;
      }
